<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9dTJlDMTeTQZv0VSca9V2r5j7hQK9CiA</string>
	<key>GCM_SENDER_ID</key>
	<string>54312047923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sdk.instaQlone</string>
	<key>PROJECT_ID</key>
	<string>instaqlone</string>
	<key>STORAGE_BUCKET</key>
	<string>instaqlone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54312047923:ios:b2ebf47da3f743f58dda46</string>
	<key>DATABASE_URL</key>
	<string>https://instaqlone-default-rtdb.firebaseio.com</string>
</dict>
</plist>